.container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    max-width: 680px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .inputGroup {
    position: relative;
    width: 85%;
  }
  
  .icon {
    position: absolute;
    top: 12px;
    left: 10px;
    color: gray;
  }
  
  input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .eye {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: gray;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  .submitButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .link{
    width: 55%;
    color: #007bff;
    font-size: 12px;
    text-decoration: underline;
  }
  .note {
    width: 37%;
    color: #666;
    font-size: 10px;
    text-align: left;
  }
  .noteContainer{
    display: flex;
    justify-content: space-between;
  }

  .errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 85%;
    text-align: center;
  }
  
  .successMessage {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 85%;
    text-align: center;
  }